<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAimkh39hkhFR57iAOLno7PdrgQE4Y3Afo</string>
	<key>GCM_SENDER_ID</key>
	<string>543855019768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reecemartin.BoxButler</string>
	<key>PROJECT_ID</key>
	<string>boxbutler-c1e8b</string>
	<key>STORAGE_BUCKET</key>
	<string>boxbutler-c1e8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543855019768:ios:471f6e805da109f502dd0d</string>
</dict>
</plist>